.lobby {
  text-align: left;
  padding: 5px;
}

.lobbyLabels {
  padding: 0px 15px 0px 15px;
}

.storyNames {
  display: inline-block;
  width: 20%;
}

.numberOfUsers {
  display: inline-block;
  width: 20%;
}

.leaderbutton {
  display: inline-block;
  float: right;
  width: 20%;
}

.toggleDisplayLink{
  text-align: right;
  display: inline-block;
  width: 15%;
}

#imgsize{
  height: 50px;
  width: 50px;
}
a:hover {
  color: #999 !important;
}

.scoreWrap {
  background-color: white;
  color: black;
  border: solid 1px #d7d7d7;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  box-shadow: 3px 3px 0px #d7d7d7;
}

.playerAvi {
  font-size: 1.2em;
  display: inline-block;
  width: 10%;
}

.playerName {
  font-size: 1.2em;
  display: inline-block;
  width: 25%;
  margin: auto;
}

.playerScore {
  display: inline-block;
  text-align: right;
  width: 10%;
  padding-left: 5%;
  margin: auto;
}

